::-webkit-scrollbar {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
    -webkit-user-select:none;
}

body {
    width: 500px;
}

.row {
    height: 42px;
}

#rows {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 13pt;
}

#on {
    text-align: center;
    height: 70px;
    font-size: 28pt;
    line-height: 70px;
    box-shadow:1px 1px 4px black;
    color: limegreen;
}

.show-row {
    line-height: 42px;
    text-shadow: 1px 1px 1px black;
    max-height: 42px;
    border: 0px solid #eaeaea;
    transition:0.24s;
}
.show-row:hover{
    color:darkorange;
}

#tooltip {
    position: absolute;
    background-color: rgb(186, 85, 211);
    box-shadow: 1px 1px 8px black;
    border-radius: 6%;
    display: inline-block;
    z-index: 100;
    transition: 0.25s;
    opacity: 0;
    pointer-events: none;
    font-weight: 700;
    padding: 0 4px 0 4px;
}

.background-image {
    position: absolute;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(2.2px) grayscale(0.75);
    width: 100%;
    height: 42px;
    opacity: 0;
    transition: 0.7s;
}

.border-left-1 {
    border-left: 1px solid #888888;
}

.hover-background:hover {
}

.create-tab {
    cursor: pointer;
}

.anime-row {
    color: #FFBE46;
}

.row-button {
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20pt;
    color: #777777;
    font-family: Roboto;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.tooltip-row {
    height: 0;
    transition: 0.3s;
    opacity: 0;
    line-height:42px;
    font-weight:500;
    pointer-events: none;
}

.height-100 {
    height: 100%;
}


#settings-img{
    position: relative;
    top:-4px;
}

.limegreen{
    color:limegreen;
}

.red{
    color:red;
}

.transition{
    transition:0.4s;
}

.col-xs-4.height-100:nth-child(3n){
    font-size:16.5px;
}

.color-red{
    color:red;
}

.transition-1{
    transition:1s;
}











